alias tmux='tmux -u -2'
alias clera="clear"
alias cgdb="cgdb -d gdb"
alias imp="rlwrap impcore"
alias scm="rlrwap uscheme"
alias kill-w-fire="kill -9"
if ! [[ $(type ~/src/lspp/lspp) =~ "not found" ]]; then
	alias ls="~/src/lspp/lspp --color=auto --icon=auto"
fi
alias sl="ls"
alias ll="ls -l"
alias la="ls -a"
alias lsb="ls --ft exe"
alias lss="ls --ft src"
alias lst="ls --type"
alias llt="ls -l --type"
alias pcat="pygmentize -f terminal256 -O style=monokai -g"
alias pvim="vim"
alias vim="nvim"
