function pdump() {
  vim -c 'set filetype=asm' <(objdump -M intel -d $1)
}

function ccstr() {
  cc=$1
  str=$2

  src=~/tmp/tmpcsrc.c
  bin=~/tmp/tmpcbin

  echo "#include<stdio.h>" > $src
  echo $str >> $src
  $cc -std=c99 $src -o $bin && $bin
}

function clangstr() {
  str="$1"
  ccstr "clang" "$str"
}

function gccstr() {
  str="$1"
  ccstr "gcc" "$str"
}

function x86doc() {
  elinks -dump "$HOME/misc/x86.renejeschke.de/"$(cat "$HOME/misc/x86.renejeschke.de/index.html" | grep -e "[>/]${1:u}[</]" | sed 's/a href="/\n/g' | grep "html" | sed 's/.html/.html\n/g' | grep "html") | less
}

function cpp-init() {
  git init
  # set up an rc to reference the proper headers
}

function lessc() {
  pygmentize -f terminal256 -O style=native -g "$1" | less -N
}
